**Standardization**

- It is the technique scale all the data under one scale
- Different column has different values also different units
- Some columns values has bigger values, some column values has lesser values
- So it is important to keep all the values under one scale.

- we have two methods are there...
    - standardization 
    - Normalization
    - 
- Standarization
   - Z -score
   - Z score varies values from -3 to 3
   
   <strong>z = (x – μ) / σ</strong>

- Normalization
     - min max scalar

<div id="GOOGLE_INPUT_CHEXT_FLAG" style="display: none;" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:true,&quot;ss&quot;:true}"></div>

**task**
- step-1: take prevailing wage column
- step-2 : calculate the mean value prevailing wage
- step-3: calculate the standard deviation of prevailing wage
- step-4: calculate the Nr: step-1 - step-2
- Step-5: divide the step4/step3

In [15]:
import pandas as pd
visa_df = pd.read_csv("../datafiles/Visadataset.csv")

In [16]:
 
mean=visa_df['prevailing_wage'].mean()
std=visa_df['prevailing_wage'].std()
Nr = visa_df['prevailing_wage'] - mean
visa_df['prevailing_wage_z' ] = Nr/std
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919060
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049923
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

**Task-2**

- compare the two columns
- Get the maximum value and minimum value of the indexes
- the both indexes should match

**idxmax- idxmin**

In [18]:
maxx =  visa_df['prevailing_wage'].idxmax(), visa_df['prevailing_wage_z'].idxmax()
minn = visa_df['prevailing_wage'].idxmin(), visa_df['prevailing_wage_z'].idxmin()

In [19]:
maxx,minn

((21077, 21077), (20575, 20575))

In [21]:
max_val =  visa_df['prevailing_wage'].max(), visa_df['prevailing_wage_z'].max()
min_val = visa_df['prevailing_wage'].min(), visa_df['prevailing_wage_z'].min()

In [22]:
max_val,min_val

((319210.27, 4.634101837909902), (2.1367, -1.4096818992891214))

**Standard Scalar**
- Standardscalare same as z-score but by using package
- it is under sklearn package
- in the sklearn we have preprocessing

- read the package
- save the package
- apply the fit transform
- Compare 3 columns
   - one is original
   - manually we did z-score
   - columns with package

In [27]:
from sklearn.preprocessing import StandardScaler

In [30]:
ss = StandardScaler()
visa_df['prevailage_wage_ss']= ss.fit_transform(visa_df[['prevailing_wage']])

In [32]:
visa_df[['prevailing_wage','prevailing_wage_z','prevailage_wage_ss']]

       prevailing_wage  prevailing_wage_z  prevailage_wage_ss
0             592.2029          -1.398510           -1.398537
1           83425.6500           0.169832            0.169835
2          122996.8600           0.919060            0.919079
3           83434.0300           0.169991            0.169994
4          149907.3900           1.428576            1.428604
...                ...                ...                 ...
25475       77092.5700           0.049923            0.049924
25476      279174.7900           3.876083            3.876159
25477      146298.8500           1.360253            1.360280
25478       86154.7700           0.221504            0.221509
25479       70876.9100          -0.067762           -0.067763

[25480 rows x 3 columns]

**Normalization**

In [43]:
import pandas as pd
visa_df = pd.read_csv("../datafiles/Visadataset.csv")

min= visa_df['prevailing_wage'].min()
max= visa_df['prevailing_wage'].max()
Nr=visa_df['prevailing_wage']-min
DR= max-min
visa_df["prevailage_wage_nor"]=Nr/DR

**package name: MinMaxScalar**

In [46]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
visa_df['prevailage_wage_mms']= ss.fit_transform(visa_df[['prevailing_wage']])

In [49]:
visa_df[['prevailing_wage','prevailage_wage_nor','prevailage_wage_mms']]

       prevailing_wage  prevailage_wage_nor  prevailage_wage_mms
0             592.2029             0.001849            -1.398537
1           83425.6500             0.261345             0.169835
2          122996.8600             0.385312             0.919079
3           83434.0300             0.261371             0.169994
4          149907.3900             0.469616             1.428604
...                ...                  ...                  ...
25475       77092.5700             0.241505             0.049924
25476      279174.7900             0.874579             3.876159
25477      146298.8500             0.458311             1.360280
25478       86154.7700             0.269895             0.221509
25479       70876.9100             0.222033            -0.067763

[25480 rows x 3 columns]

In [2]:
a=10
b=10
c=a+b
c

20